body{ 
  font-family: 'Lato', sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
}
/* Header section CSS */
.header-container{  
  background: rgba(229, 84, 115, 0.10);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
 
}
.header-left-side{
  width: 50%;
  margin-left: 100px;
}
.header-text{
  color: #272727;
  font-size: 60px;
  
  font-weight: 800;
  line-height: normal;
}
.header-para{
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 25px 0px;
  text-align: justify;
}
.btn-primary{
  background: #E55473;
  border-radius: 8px;
  border: none;
  padding: 20px 43px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}
.header-right-side{
  width: 50%;
  margin-right: 50px;
}
.header-image{
  width: 600px;
}

/* Hot deal section CSS */
.hot-deal-section{
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  padding: 100px 150px;
}
.hot-left{
  text-align: center;
}
.hot-tittle{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.hot-off{
  color: #E55473;
  font-size: 40px;
  font-weight: 800;
}
.hot-para{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  max-width: 560px;
  margin: 25px 0px;
}
/* Instagram section CSS */
.instagram-heading{
  text-align: center;
  margin-top: 128px;
}
.instagram-tittle{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.instagram-para{
  text-align: center; 
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 45px;  
}
.instagram-image{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}
.instagram-image .instagram-img{
  width: 270px;
  margin-bottom: 128px;
  
}
/* Get the latest deal section CSS */
.get-deal{
  background-image: url("assets/Rectangle\ 9.png");  
  background-size: cover;
  background-repeat: no-repeat;  
  height: 450px;
  margin: 0px 100px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-deal-tittle{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 16px; 
  text-align: center;
}
.get-deal-para{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 45px;
}
.get-deal-input{
  width: 700px;
  height: 26px;
  border-radius: 8px;
  background: #FFF;
  border: 0px;
  padding: 20px;
  margin-right: 10px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  font-weight: 400;
}


